.body {
	background-color: #E6E6E6;
	width: 50%;
	margin: auto;
}

.star-filled {
 color: black;
}

.star-faded {
 color: grey;
}

/*
	00287C Mid Deep Blue
	192E59 Deep Blue
	00184B Deep Blue
	5A86E3 Mid Blue
	A2B7E3 Light Blue
 */


