<div class="card card__social">
	<h4 class="card__social-title">Share</h4>
	<a class="card__social-link icon-twitter" data-ng-href="https://twitter.com/intent/tweet?via=Surf_Spotter&url={{Social.getURL()}}" target="_blank"></a>
	<a class="card__social-link icon-facebook" data-ng-href="http://www.facebook.com/sharer.php?p[url]={{Social.getURL()}}" target="_blank"></a>
	<a class="card__social-link icon-gplus" data-ng-href="https://plus.google.com/share?url=Social.getURL()" target="_blank"></a>
</div>
