<div class="grid">
	<div class="column-2 offset-2">
	    <h3>Sign In</h3>

		<form class="form" role="form" data-ng-submit="SignIn.authenticate(SignIn.username, SignIn.password)">

			<div class="form__input__group" data-ng-class="{'has-error': SignIn.error.username}">
			    <label class="form__label" for="inputUsername">Username:</label>

				<input class="form__input" type="text" data-ng-model="SignIn.username" name="inputUsername" id="inputEmail" required>

			    <p class="form__input__help" data-ng-bind="SignIn.error.username"></p>
			</div>

			<div class="form__input__group" data-ng-class="{'has-error': SignIn.error.password}">
			    <label class="form__label" for="inputPassword">Password:</label>

				<input class="form__input" type="password" data-ng-model="SignIn.password" name="inputPassword" id="inputPassword" required>

			    <p class="form__input__help" data-ng-bind="SignIn.error.password"></p>
			</div>

			<input type="submit" class="btn form__input--submit"></input>
		</form>
	</div>
</div>
