<div class="grid">
	<div class="column-2 offset-2">
	    <h3>Sign Up</h3>

		<form class="form" role="form" data-ng-submit="SignUp.register(SignUp.user)">

			<div class="form__input__group" data-ng-class="{'has-error': SignUp.error.username}">
			    <label class="form__label" for="inputUsername">Username</label>

				<input type="text" class="form__input" data-ng-model="SignUp.user.username" id="inputUsername" required>

				<p class="form__input__help" data-ng-bind="SignUp.error.username"></p>
			</div>

			<div class="form__input__group" data-ng-class="{'has-error': SignUp.error.email}">
			    <label class="form__label" for="inputEmail1">Email address</label>

				<input type="email" class="form__input" data-ng-model="SignUp.user.email" id="inputEmail1" required>

				<p class="form__input__help" data-ng-bind="SignUp.error.email"></p>
			</div>

			<div class="form__input__group" data-ng-class="{'has-error': SignUp.error.password}">
			    <label class="form__label" for="inputPassword">Password</label>

				<input type="password" class="form__input" data-ng-model="SignUp.user.password" id="inputPassword" required>

				<p class="form__input__help" data-ng-bind="SignUp.error.password"></p>
			</div>

			<div class="form__input__group" data-ng-class="{'has-error': SignUp.error.passwordCheck}">
			    <label class="form__label" for="inputPassword">Confirm Password</label>

				<input type="password" class="form__input" data-ng-model="SignUp.user.confirmedPassword" id="confirmInputPassword" required>

				<p class="form__input__help" data-ng-bind="SignUp.error.passwordCheck"></p>
			</div>
			<input type="submit" class="btn form__input--submit"></input>
		</form>
	</div>
</div>
