<div class="col-md-6 col-md-offset-3">
	<input type="text" class="form-control" data-ng-model="surfQuery" placeholder="Type to search">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Location</th>
				<th>Current Quality of Surf</th>
				<th>Quality of Spot</th>
				<th>Swell Height</th>
				<th>Swell Period</th>
				<th>Distance</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="location in Surf.locations | filter:surfQuery">
				<td data-ng-bind="location.name"></td>
				<td data-ng-bind="location.qualityString"></td>
				<td>
					<span class="glyphicon glyphicon-star star-filled"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
				</td>
				<td><span data-ng-bind="location.swellHeight"></span>m</td>
				<td><span data-ng-bind="location.swellPeriod"></span>s</td>
				<td><span data-ng-bind="location.distance"></span>m</td>
			</tr>
		</tbody>
	</table>
</div>
