.btn {
	background-color: @btn-bg;
	padding: 10px;
	color: @white;
	border: none;
	display: inline-block;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&:hover {
		background-color: @btn-bg-hover;
	}

	&:disabled {
	background-color: @btn-bg-disabled;
	}
}

