.btn {
	background-color: @btn-bg;
	border-radius: 0;
	padding: 10px;
	color: @white;
	border: none;
	display: inline-block;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&:hover {
		background-color: @btn-bg-hover;
	}

	&:disabled {
	background-color: @btn-bg-disabled;
	}
}

.btn-link {
	background-color: transparent;
	color: @btn-bg;

	&:hover {
		text-decoration: underline;
		background-color: transparent;
	}
}
