.card {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border: 1px solid #f0f0f0;
}

.card__section {
	padding: 10px;

	&:not(:last-child) {
		border-bottom: 1px solid #f0f0f0;
	}
}

.card__horizontal-section {
	float: left;
	width: 50%;
	border-top: 1px solid #f0f0f0;
    padding-bottom: 10px;


	&:last-child {
		padding-left: 10px;
	}

	&:not(:last-child) {
		border-right: 1px solid #f0f0f0;
	}
}

@media only screen and (min-width : @mobileWidth) {

	.card__horizontal-section {
		padding-bottom: 0;
		border-top: none;
	}

}
