.content {
	margin-top: 80px;
}

@media only screen and (max-width : 768px) {


	.content {
		margin-top: 132px;
	}

}


/* Forecast View */

.forecast {
	margin-top: 20px;
}

.forecast h1 {
	margin: 0;
}


.forecast .actions {
	float: right;
}


@media only screen and (max-width : 768px) {
	.forecast .actions {
		float: none;
		margin: 15px 0;
	}
}


@media only screen and (max-width : 480px) {
	.forecast .actions > * {
		width: 100%;
	}
}
