/* Forecast View */

.forecast {
	padding: 10px;
	position: relative;
}

.forecast__head {
	background-size: cover;
    background-position: center;
    background-position-y: 70%;
    margin-bottom: 20px;
	color: @white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.forecast__head .icon-star,
.forecast__head .icon-star-empty {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}



.forecast__head-wrapper {
	background-color: rgba(0, 0, 0, 0.3);
    padding-top: 100px;
}


.forecast__rating {
	float: right;
}

.forecast__date {
	font-size: 1.5rem;
	display: inline-block;
}

.forecast__details {
	overflow: hidden;
	width: 100%;
}

.forecast .minus:hover,
.forecast .plus:hover {
	cursor: pointer;
}

.forecast__title {
	// margin-bottom: 0;
}

.forecast__regions {
	float: left;
	width: 100%;
}

.forecast__actions {
	float: left;
	width: 100%;
}

@media only screen and (min-width: @mobileWidth) {

	.forecast__header {
		display: block;
		position: relative;
	}

	.forecast__actions {
		// margin-top: 30px;
		right: 0;
		bottom: 0;
		position: absolute;
		width: auto;
	}

	.forecast__title {
		float: left;
		display: inline-block;
	}

	.forecast__head-wrapper {
	    padding-top: 200px;
	}
}


.angular-google-map-container { height: 250px; }





.location__card {
	background-size: cover;
	color: @white;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	position: relative;
}


.location__card-link {
	position: absolute;
	right: 10px;
	bottom: 0;
	color: @white;
}
