/* Forecast View */

.forecast {
	padding: 10px;
	position: relative;
}


.forecast__rating {
	float: right;
}

.forecast__date {
	font-size: 1.5rem;
	display: inline-block;
}

.forecast__details {
	overflow: hidden;
	width: 100%;
}

.forecast .minus:hover,
.forecast .plus:hover {
	cursor: pointer;
}


@media only screen and (min-width: @mobileWidth) {

	.forecast__header {
		display: block;
		position: relative;
	}

	.forecast__actions {
		margin-top: 30px;
		right: 0;
		position: absolute;
	}

	.forecast__title {
		float: left;
		display: inline-block;
		margin-right: 60px;
	}
}









