@gridWidth: 980;
@gutterWidth: 10;
@columnCount: 6;

/* Attribute selector */
[class*='column-'] {
	float: left;
	padding: @gutterWidth * 1px;

}

.grid, .container {
	display: block;
	margin: 0 auto;
	width: @gridWidth * 1px;
}
.tall {
	height: 100px;
}

.generate-columns(@columnCount);

.generate-columns(@n, @i: 1) when (@i =< @n) {

	.column-@{i} {
		width: ((((@gridWidth) / @n) * @i) / @gridWidth) * 100%;
	}
  .generate-columns(@n, (@i + 1));
}



@media only screen and (max-width: 980px) {
	.grid, .container  {
		width: 100%;
	}
}


@media only screen and (max-width: 640px) {
	[class*='column-'] {
		width: 100%;
	}
}
