.navbar-default {
	background-color: @white;
	padding: 10px 0;
}

.navbar-right {
	display: inline-block;
	float: right;
	> li {
		float: right;
	}
}

.dropdown-menu {
	min-width: initial;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
