* {
	box-sizing: border-box;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.clearfix {
	.clearfix();
}


.content__wrapper {
	padding-top: 90px;
}

.img-responsive {
	width: 100%;
	max-width: 100%;
}

.pointer:hover {
	cursor: pointer;
}

.twice {
	font-size: 2em;
}

@media only screen and (min-width: @mobileWidth) {
	.content__wrapper {
		padding-top: 50px;
	}
}


.card.color__swatch {
	width: 100%;
	height: 100px;
	color: @white;
	font-weight: bold;


	&--blue {
		background-color: @brand-blue;
	}

	&--salmon {
		background-color: @brand-salmon;
	}

	&--blue-dark {
		background-color: @brand-blue-dark;
	}

	&--green {
		background-color: @brand-green;
	}

	&--green-dark {
		background-color: @brand-green-dark;
	}

}

