* {
	box-sizing: border-box;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.clearfix {
	.clearfix();
}


.content__wrapper {
	padding-top: 90px;
}



@media only screen and (min-width: @mobileWidth) {
	.content__wrapper {
		padding-top: 50px;
	}
}
