<div class="col-md-8 col-md-offset-2">
    <h3> Sign In</h3>
	<form class="form-signin" role="form">
		<div class="form-group">
		    <label for="inputEmail">Email address</label>
			<input type="email" class="form-control" name="inputEmail" id="inputEmail">
		</div>

		<div class="form-group">
		    <label for="inputPassword">Password</label>
			<input type="password" class="form-control" name="inputPassword" id="inputPassword">
		</div>
		<button type="submit" class="btn btn-default" data-ui-sref="home">Submit</button>
	</form>
</div>
