<div class="grid">
	<div class="row">

		<div class="column-2 column-desktop-right">

				<h1>We are Prelaunch</h1>
				<div class="card card__section">

					<p>I am experimenting with different sources of data for the surfing forecast. So any of the forecast data may be incorrect or out of date.</p>
					<p>Your account details will not be altered during this time but your favourite spots may be removed.</p>
				</div>

		</div>
		<div class="column-4">
			<h1>Surf Spots</h1>
		</div>

		<div class="column-2">
			<div data-location-link-card data-location="location"
			data-ng-repeat="location in LocationList.locations | limitTo : LocationList.locations.length / 2"></div>
		</div>
		<div class="column-2" >
			<div data-location-link-card data-location="location"
			data-ng-repeat="location in LocationList.locations | limitTo : LocationList.locations.length / 2: LocationList.locations.length / 2 | orderBy: 'name': true"></div>
		</div>

	</div>
</div>
