<div class="grid">
	<div class="row">
		<div class="column-2 column-desktop-right">
			<div class="column-6">
				<h2>Currently Pre-Launch</h2>
				<div class="card card__section">

				<p>I am currently experimenting with different sources of data for the forecast. So any of the forecast data may be incorrect or out of date.</p>
				<p>Your account details will not be altered during this experimental time but your favourite spots may be removed.</p>
				</div>
			</div>
		</div>
		<div class="column-4">
			<div class="column-6">
				<h1>Surf Spots</h1>
			</div>
			<div class="column-3" data-ng-repeat="location in LocationList.locations">
				<div class="card">
					<div class="card__section--sides clearfix">
						<h4 data-ng-bind="location.name"></h4>

						<img class="img-responsive" data-ng-src="{{location.image}}" data-ng-if="location.image">

						<ui-gmap-google-map class="" data-center='location.coordinate' data-zoom="10" data-ng-if="!location.image">
							<ui-gmap-marker data-idKey="location.id" data-coords='location.coordinate'></ui-gmap-marker>
						</ui-gmap-google-map>

						<a class="btn btn__link pull-right" data-ui-sref="forecast({spotName: '{{location.name | spaceToDash}}', locationId: '{{location.id}}' })">View Forecast</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
