<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">

		<div class="row">


				<a class="navbar-brand" data-ui-sref="app">
					<div class="logo">
						<i class="glyphicon glyphicon-cloud"></i> Surf Spotter
					</div>
				</a>



			<div class="nav-auth clearfix">
				<ul data-ng-if="!NavigationBar.isUserAuthenticated()" class="nav navbar-nav navbar-right">
			        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
					<li data-ui-sref-active="hide"><a data-ui-sref="signIn">Sign In</a></li>
			        <li data-ui-sref-active="hide"><a data-ui-sref="signUp">Sign Up</a></li>
				</ul>
				<ul data-ng-if="NavigationBar.isUserAuthenticated()" class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<i class="fa fa-user"></i>
							<span data-ng-bind="NavigationBar.getUser().username"></span>
							<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
					        <li><a data-ng-click="NavigationBar.signOut()">Sign Out</a></li>
						</ul>
					</li>
					<li><a data-ui-sref="favourites">Favourites</a></li>
				</ul>
			</div>


			<div class="nav-search">
				<div data-location-search=""></div>
			</div>


		</div>
	</div>
</nav>
