<nav class="navbar">
	<div class="container">

		<a class="navbar__logo" data-ui-sref="app">Surf Spotter</a>

		<ul data-ng-if="!NavigationBar.isUserAuthenticated()" class="navbar__group pull-right">
			<li class="navbar__item" data-ui-sref-active="hide"><a data-ui-sref="signIn">Sign In</a></li>
		    <li class="navbar__item" data-ui-sref-active="hide"><a data-ui-sref="signUp">Sign Up</a></li>
		</ul>

		<ul data-ng-if="NavigationBar.isUserAuthenticated()" class="navbar__group pull-right">
			<li class="navbar__item"><a class="icon star" data-ui-sref="favourites"></a></li>
	        <li class="navbar__item"><a data-ng-click="NavigationBar.signOut()"><span data-ng-bind="NavigationBar.getUser().username"></span> (Sign Out)</a></li>
		</ul>

		<div data-location-search></div>
	</div>
</nav>
