<div class="row">
	<div class="col-sm-12">
		<h1>Your Favourite Surf Spots</h1>
		<div data-ng-repeat="favourite in Favourites.list">
				<span data-ng-bind="favourite.location.name"></span>
				<ul class="actions pull-right">
					<li><a class="btn btn-default" data-ui-sref="forecast({spotId: favourite.location._id})">View forecast</a></li>
					<li class="btn btn-default" data-ng-click="Favourites.remove(favourite.location._id)">Delete</li>
				</ul>
			</div>
		<div data-ng-if="Favourites.list.length <= 0">You have no favourites.</div>
	</div>
</div>
