<div class="grid">

	<div class="row">
		<div class="column-6">
			<h1>Your Favourite Spots</h1>
			<div data-ng-repeat="favourite in Favourites.list" class="favourite clearfix">
					<span class="favourite__name" data-ng-bind="favourite.location.name"></span>
					<div class="pull-right">
						<a class="btn btn-link" data-ui-sref="forecast({spotName: '{{favourite.location.name | spaceToDash}}', locationId: '{{favourite.location._id}}' })">View forecast</a>
						<button class="btn btn-link" data-ng-click="Favourites.remove(favourite.location)">Delete</button>
					</div>
				</div>
			<div data-ng-if="Favourites.list.length <= 0">You have no favourites.</div>
		</div>
	</div>
</div>
