<div class="grid">
	<div class="row">
		<div class="column-6">
			<h1>Your Favourite Spots</h1>
		</div>
		<div class="column-3" data-ng-repeat="favourite in Favourites.list" class="favourite clearfix">
			<div class="card">
				<div class="favourite_image" style="background-image: url('{{favourite.location.image.url}}')" alt=""></div>
				<div class="favourite__info">

					<h3 class="favourite__name favourite__spacer" data-ng-bind="favourite.location.name"></h3>
					<a class="btn btn__link favourite__spacer" data-ui-sref="forecast({spotMachineName: '{{favourite.location.machineName}}'})">View forecast</a>

					<button class="btn btn__link pull-right favourite__spacer--right" data-ng-click="Favourites.remove(favourite.location)">Delete</button>
				</div>
			</div>
		</div>
		<div data-ng-if="Favourites.list.length <= 0">You have no favourites.</div>

	</div>
</div>
