<div class="forecast">

	<div class="row">
		<div class="col-sm-5">
			<h1>
				<span data-ng-bind="Forecast.place.name"></span>

			</h1>
		</div>
		<div class="col-sm-3">
			<div class="actions">
				<button class="btn btn-default" data-ng-if="Auth.isSignedin()" data-ng-click="Forecast.setFavorite(!Forecast.place.isFavourite)">
					<span data-ng-if="Forecast.place.isFavourite">Remove from Favorites</span>
					<span data-ng-if="!Forecast.place.isFavourite">Save to Favorites</span>
				</button>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">

			<div class="card">

				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Rating</th>
							<th>Swell Height</th>
							<th>Swell Period</th>
							<th>Wind Speed</th>
							<th>Wind Direction</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="day in Forecast.forecast">
							<th data-ng-bind="day.date | date:'EEE'"></th>
							<td>
								<div star-rating ng-model="day.weather.rating"></div>
							</td>
							<!-- <td data-ng-bind="location.stars"> -->
								<!-- <span class="glyphicon glyphicon-star star-filled"></span>
								<span class="glyphicon glyphicon-star star-faded"></span>
								<span class="glyphicon glyphicon-star star-faded"></span>
								<span class="glyphicon glyphicon-star star-faded"></span>
								<span class="glyphicon glyphicon-star star-faded"></span> -->
							<!-- </td> -->
							<td><span data-ng-bind="day.weather.swell.height"></span>m</td>
							<td><span data-ng-bind="day.weather.swell.period"></span>s</td>
							<td><span data-ng-bind="day.weather.wind.speed"></span>mph</td>
							<td data-ng-bind="day.weather.wind.direction"></td>
							<!-- <td><span data-ng-bind="location.distance"></span>m</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class="col-sm-4">
			<div class="card">
				<div class="img"></div>
				<div class="section clearfix">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, aliquam reiciendis accusamus est. Nostrum soluta eligendi recusandae ipsam commodi, ad, praesentium, aut totam architecto asperiores ipsum est nihil libero id.
					<a class="btn btn-default pull-right">More Info</a>
				</div>
			</div>
		</div> -->
	</div>
</div>

