<div style="background-image: url('{{Forecast.location.image.url}}')" data-ng-class="{'forecast__head': Forecast.location.image.url}">
	<div data-ng-class="{'forecast__head-wrapper': Forecast.location.image.url}">

		<div class="grid">
			<div class="row">
				<div class="column-6">
					<div class="forecast__header clearfix">

						<h1 class="forecast__title">
							<span data-ng-bind="Forecast.location.name"></span>
							<button class="btn btn__icon" data-ng-if="Auth.isSignedin()"
								data-ng-click="Forecast.setFavorite(!Forecast.location.isFavourite)"
								data-ng-class="{
												'btn__icon--remove icon-star': Forecast.location.isFavourite,
												'btn__icon--add icon-star-empty': !Forecast.location.isFavourite }">
							</button>
						</h1>

						<div class="forecast__regions">
							<span data-ng-repeat="ancestor in Forecast.location.region.ancestors">
								<span data-ng-bind="ancestor.name + '  > '"></span>
							</span>
							<span data-ng-bind="Forecast.location.region.name"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="grid">
		<div class="column-2 column-desktop-right">
			<div social-share></div>
		</div>
		<div class="column-4">
			<div class="card">
				<div class="forecast card__section" data-ng-repeat="day in Forecast.forecast | orderBy: 'date'">

					<div class="pointer" data-ng-click="day.expanded = !day.expanded;">
						<div class="forecast__date">
							<span data-ng-bind="$first ? 'Today' : (day.date | date:'EEEE')"></span>
						</div>

						<span class="pull-right twice" data-ng-class="{'icon-angle-up': !day.expanded, 'icon-angle-down': day.expanded}"></span>
					</div>
					<!-- <div class="forecast__rating" star-rating ng-model="day.weather.rating"></div> -->


					<div class="forecast__details animate-slide hide-slide" data-ng-hide="!day.expanded">
						<div class="card__horizontal-section">
							<h5>Swell:</h5>
							<div class="">Height: <span data-ng-bind="day.hourly[0].swell.height"></span>m</div>

							<div class="">Period: <span data-ng-bind="day.hourly[0].swell.period"></span>s</div>
						</div>

						<div class="card__horizontal-section">
							<h5>Wind:</h5>
							<div class="">Speed: <span data-ng-bind="day.hourly[0].wind.speed"></span>kmph</div>

							<div class="">Direction: <span data-ng-bind="day.hourly[0].wind.direction"></span>&deg</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column-2">
			<div class="card">
				<ui-gmap-google-map center='Forecast.location.coordinate' zoom="Forecast.zoom">
					<ui-gmap-marker idKey="'location'" coords='Forecast.location.coordinate'></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>

</div>
