<div class="col-md-8 col-md-offset-2">
	<input type="text" class="form-control" data-ng-model="locationQuery" ng-model-options="{debounce: 300}" data-ng-change="Location.findLocations(locationQuery)" placeholder="Search for Location">

	<div class="locations-list">

<!-- 		<div class="text-center location" data-ng-repeat="location in Location.locations | filter:locationQuery">
			<a ui-sref="forecast({ spotId: {{location.id}} })" data-ng-bind="location.name"></a>
		</div> -->

	<a class="text-center location" data-ng-repeat="location in Location.locations | filter:locationQuery"
	ui-sref="forecast({ spotId: {{location.id}} })" data-ng-bind="location.name">
		</a>

	</div>

</div>
