<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center" data-ng-bind="Forecast.place"></h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<!-- <th>Current Quality of Surf</th> -->
				<th>Quality of Spot</th>
				<th>Swell Height</th>
				<th>Swell Period</th>
				<th>Wind Speed</th>
				<th>Wind Direction</th>
				<!-- <th>Distance</th> -->
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="day in Forecast.forecast">
				<td data-ng-bind="day.date | date:'EEE (dd-MM-yyyy)'"></td>
				<td><span data-ng-bind="day.weather.rating"></span> star<span data-ng-if="day.weather.rating > 1">s</span></td>
				<!-- <td data-ng-bind="location.stars"> -->
					<!-- <span class="glyphicon glyphicon-star star-filled"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span>
					<span class="glyphicon glyphicon-star star-faded"></span> -->
				<!-- </td> -->
				<td><span data-ng-bind="day.weather.swell.height"></span>m</td>
				<td><span data-ng-bind="day.weather.swell.period"></span>s</td>
				<td><span data-ng-bind="day.weather.wind.speed"></span>mph</td>
				<td data-ng-bind="day.weather.wind.direction"></td>
				<!-- <td><span data-ng-bind="location.distance"></span>m</td> -->
			</tr>
		</tbody>
	</table>
</div>
